{% extends 'dashboard/index.html' %}
{% load static %}

{% block head %}
    <title>Profile</title>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<!--    <link rel="stylesheet" href="/assets/css/global.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<!--    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css?h=a3c7f416345fff3272f4d0fa059feccb' %}">-->
    <link rel="stylesheet" href="{% static 'assets/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
{% endblock %}
{% block style %}
    <style>
    .active > .page-link, .page-link.active {
        z-index: 3;
        color: #fff;
        background-color: rebeccapurple;
        border-color: rebeccapurple;
    }
    .pagination {
        --bs-pagination-font-size: 1rem;
        --bs-pagination-color: black;
        --bs-pagination-bg: var(--bs-body-bg);
    }
    .pagination:hover {
        --bs-pagination-font-size: 1rem;
        --bs-pagination-color: goldenrod;
        --bs-pagination-bg: var(--bs-body-bg);
    }
    .page-link:hover {
      z-index: 2;
      color: rebeccapurple;
      background-color: var(--bs-pagination-hover-bg);
      border-color: var(--bs-pagination-hover-border-color);
    }
</style>
{% endblock %}

{% block content %}

    <h3 class="text-dark mb-4">FTE</h3>
    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Faculty</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="m-0 fw-bold" style="color: black;">Employee Info</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-5 col-lg-3 col-xl-2 text-nowrap d-flex d-xl-flex align-items-center align-items-xl-center">
                                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                            <option value="10" selected="">10</option>
                                                            <option value="25">25</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>&nbsp;</label></div>
                                            </div>
                                            <div class="col-md-3 col-lg-4 col-xl-5 d-lg-flex justify-content-lg-start">
                                                <div class="dropdown d-flex d-sm-flex justify-content-end align-items-center justify-content-sm-end"><button class="btn btn-primary d-flex align-items-center m-1" aria-expanded="false" data-bs-toggle="dropdown" type="button">Sort&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-symmetry-horizontal">
                                                            <path d="M13.5 7a.5.5 0 0 0 .24-.939l-11-6A.5.5 0 0 0 2 .5v6a.5.5 0 0 0 .5.5zm.485 2.376a.5.5 0 0 1-.246.563l-11 6A.5.5 0 0 1 2 15.5v-6a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .485.376M11.539 10H3v4.658L11.54 10z"></path>
                                                        </svg></button>
                                                    <div class="dropdown-menu"><a class="dropdown-item" href="#">A to Z</a><a class="dropdown-item" href="#">Z to A</a><a class="dropdown-item" href="#">Third Item</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-5 col-xl-5 col-xxl-5">
                                                <div class="text-md-end d-flex d-sm-flex justify-content-end justify-content-sm-end"><a href="#"><button class="btn btn-primary m-1" type="button">Filter / Reset</button></a><label class="form-label"></label></div>
                                            </div>
                                        </div>



<!--                                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">-->
<!--                                            <table class="table my-0" id="dataTable">-->
<!--                                                <thead>-->
<!--                                                    <tr>-->
<!--                                                        <th style="min-width: 9em;">Faculty</th>-->
<!--                                                        <th style="text-align: center;min-width: 5em;">Year</th>-->
<!--                                                        <th style="text-align: center;">Semester</th>-->
<!--                                                        <th style="/*min-width: 13em;*/text-align: right;">FTE</th>-->
<!--                                                    </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody>-->
<!--                                                    &lt;!&ndash; Start: Faculty Row &ndash;&gt;-->
<!--                                                    <tr style="font-size: small;">-->
<!--                                                        <td>Dr Jonnathan McGreasily</td>-->
<!--                                                        <td style="text-align: center;">2024</td>-->
<!--                                                        <td style="text-align: center;">Spring</td>-->
<!--                                                        <td class="text-truncate" style="text-align: right;">2.14</td>-->
<!--                                                    </tr>&lt;!&ndash; End: Faculty Row &ndash;&gt;-->
<!--                                                </tbody>-->
<!--                                                <tfoot>-->
<!--                                                    <tr>-->
<!--                                                        <td style="min-width: 9em;"><strong>Faculty</strong></td>-->
<!--                                                        <td style="text-align: center;"><strong>Year</strong></td>-->
<!--                                                        <td style="text-align: center;"><strong>Semester</strong></td>-->
<!--                                                        <td style="font-weight: bolder;text-align: right;">FTE</td>-->
<!--                                                    </tr>-->
<!--                                                </tfoot>-->
<!--                                            </table>-->
<!--                                        </div>-->





                                        <!-- Start: Filter Form -->
                                        <form method="get" action="">
                                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                                <table class="table my-0" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th style="min-width: 9em;">Faculty</th>
                                                            <th style="text-align: center;min-width: 5em;">Year</th>
                                                            <th style="text-align: center;">Semester</th>
                                                            <th style="/*min-width: 13em;*/text-align: right;">FTE</th>
                                                        </tr>
                                                    </thead>
                                                    <thead style="border-bottom-color: rebeccapurple; margin-bottom: 10px">
                                                        <tr>
                                                            <th><div class="my-2"><input type="search" name="name" class="form-control form-control-sm" placeholder="Faculty"></div></th>
                                                            <th><div class="my-2"><input type="search" name="rank" class="form-control form-control-sm" placeholder="Year"></div></th>
                                                            <th><div class="my-2"><input type="search" name="email" class="form-control form-control-sm" placeholder="Semester"></div></th>
                                                            <th><div class="my-2"><input type="search" name="phone" class="form-control form-control-sm" placeholder="FTE"></div></th>
                                                        </tr>
                                                    </thead>
                                                    <hr>
                                                    <!-- Table Body and Footer remain the same -->
                                                    <tbody>
                                                    {% if faculty %}
                                                        {% for faculty in faculty %}

                                                        <!-- Start: Faculty Row -->
                                                        <tr style="font-size: small;">
                                                            <td><img class="rounded-circle me-2" width="30" height="30" src="{{ faculty.img_url }}">{{ faculty }}</td>
                                                            <td style="text-align: center;">{{ faculty.year_of_joining }}</td>
                                                            <td style="text-align: center;">Spring</td>
                                                            <td class="text-truncate" style="text-align: right;">2.14</td>
                                                        </tr><!-- End: Faculty Row -->

                                                        {% endfor %}
                                                    {% else %}
                                                        <!-- Start: Faculty Row -->
                                                        <tr style="font-size: small;">
                                                            <td><img class="rounded-circle me-2" width="30" height="30" src="{{ faculty.img_url }}">{{ faculty.name }}  Dr Jonnathan McGreasily</td>
                                                            <td style="text-align: center;">2024</td>
                                                            <td style="text-align: center;">Spring</td>
                                                            <td class="text-truncate" style="text-align: right;">2.14</td>
                                                        </tr><!-- End: Faculty Row -->
                                                    {% endif %}

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td style="min-width: 9em;"><strong>Faculty</strong></td>
                                                            <td style="text-align: center;"><strong>Year</strong></td>
                                                            <td style="text-align: center;"><strong>Semester</strong></td>
                                                            <td style="font-weight: bolder;text-align: right;">FTE</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="text-end mt-2">
                                                <button type="submit" class="btn btn-primary my-4" style="border-width: 2px;border-color: transparent;font-weight: bold">Filter / Reset</button>
                                            </div>
                                        </form>
                                        <!-- End: Filter Form -->



                                        <div class="row">
                                            <div class="col-md-6 align-self-center">
                                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                            </div>
                                            <div class="col-md-6">
                                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                                    <ul class="pagination">
                                                        <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}
{% block scripts %}
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>-->
<script src="{% static 'assets/js/bs-init.js'%}"></script>
<script src="{% static 'assets/js/theme.js'%}"></script>
{% endblock %}
