{% extends 'dashboard/index.html' %}
{% load static %}

{% block head %}
    <title>Register</title>
{% endblock %}
{% block stylesheet %}
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">-->

<!--    <link rel="stylesheet" href="/assets/css/global.css">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
{% endblock %}
{% block style %}
    <style>
        .p-btn {
            background-color: rebeccapurple;
            border-color: rebeccapurple;
        }
        .p-btn:hover {
            background-color: goldenrod;
            border-color: goldenrod;
            font-weight: bold;
        }
        .p-p {
            color: rebeccapurple;
        }
        .p-p:hover {
            color: black;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block title %}
    <h1 class="text-dark mb-1">Register</h1>
    <p class="text-muted
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="object-fit: cover;background-image: url(https://th.bing.com/th/id/OIP._mL8OLLHPBh1uFGhQnvQQQAAAA?w=409&h=711&rs=1&pid=ImgDetMain);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>

                                    <form class="user" action="{% url 'dashboard:login_user' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Enter Username..." name="username"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100 p-btn" type="submit">Login</button>
                                        <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2 p-btn" role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a><a class="btn btn-primary d-block btn-facebook btn-user w-100 p-btn" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Login with Facebook</a>
                                        <hr>
                                    </form>
                                    <div class="text-center"><a class="small p-p" href="#">Forgot Password?</a></div>
                                    <div class="text-center"><a class="small p-p" href="{% url 'dashboard:register_user' %}">Create an Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
{% endblock %}
