.navbar {
  background-color: var(--bs-purple);
}

.nav-link {
  color: rebeccapurple;
}

.nav-link:hover {
  color: orange;
}

.page-item {
  --bs-pagination-color: var(--bs-purple);
  --bs-pagination-active-bg: var(--bs-purple);
  --bs-pagination-active-border-color: var(--bs-purple);
}

.sidebar .nav-item.li.side-icon {
  /*color: rgb(225,18,18) !important;*/
  /*background-color: var(--bs-emphasis-color) !important;*/
}

.side-icon {
  /*color: rgba(255,255,255,.8) !important;*/
  /*background: var(--bs-emphasis-color)!important;*/
}

.side-nav-icon {
  color: rgba(255,255,255,.3);
}

.side-nav-icon:focus {
  color: white;
}

.side-nav-icon.title {
  color: rgba(255,255,255,0.8);
}

.btn-primary {
  background-color: var(--bs-purple) !important;
  border-color: var(--bs-purple) !important;
}

.bg-primary {
    background-color: rebeccapurple !important;
}
.w-font {
    color: white;
}
.text-primary {
    color: rebeccapurple !important;
}
.btn-primary {
    color: rebeccapurple !important;
    background-color: gold !important;
    border-color: black !important;
}